<form action="/bid/itemlist%>" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="item">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">검색</button>
        </div>
    </div>
</form>