<html>
<head>
    <% include ../source.ejs%>

    <script>
        function resetPasswordFormSubmit() {
            var $pw = $('#newPW');
            var $pw2 = $('#newPWVerify');

            $('#enc_newPW').val(SHA256($pw.val()));
            $('#enc_newPW_verify').val(SHA256($pw2.val()));

            $pw.val('');
            $pw2.val('');
        }
    </script>
</head>
<body>
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <p><h5>비밀번호 재설정</h5></p>
                <hr class="custom-hr">
            </div>
        </div>
        <div class="row justify-content-center align-content-center align-content-center align-self-center">
            <div class="col">
                <form action="/users/resetPassword" method="post" onsubmit="resetPasswordFormSubmit()">
                    <div class="form-group">
                        <label for=""></label>
                        <input id="newPW" type="password" placeholder="비밀번호">
                        <input type="hidden" id="enc_newPW" name="new_pw">
                    </div>

                    <div class="form-group">
                        <label for=""></label>
                        <input id="newPWVerify" type="password" placeholder="비밀번호 확인" >
                        <input type="hidden" id="enc_newPW_verify" name="new_pw_verify">
                    </div>

                    <input type="hidden" value="<%= id%>" name="id">

                    <button class="btn btn-secondary">제출</button>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
</html>

