<form action="/users/secession_action" method="post">
    <label for="passwordInput">비밀번호 입력</label>
    <span>비밀번호 입력</span>
    <input type="password" id="passwordInput" name="pw" class="form-control-sm">
    <button class="btn-sm btn-secondary" id="secessionBtn">탈퇴</button>
</form>